---
export interface Props {
  title: string;
  subtitle: string;
  image: string;
}
const { title, subtitle, image } = Astro.props;
---

<section class="hero" data-sb-object-id="1">
  <h1 data-sb-field-path="title">{title}</h1>
  <p data-sb-field-path="subtitle">{subtitle}</p>
  <img src={image} alt="Hero image" />
</section>